<footer ng-controller="FooterController" ng-cloak>
	<div class="container">
		<div id="main-footer" class="row-fluid">
			<div class="col-xs-12 col-sm-3 col-md-2">
				<h3>{{ footerData.title }}</h3>
				<p ng-bind-html="footerData.introduction | Trust"></p>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-8 footer-content">
				<h3>Content</h3>
				<div ng-repeat="link in footerData.links" class="col-xs-6 col-sm-{{ footerData.links.length / 5 | number:0 }} footer-link">
					<dd-navigation-link destination="link.href" title="link.title" new-window="link.newWindow"></dd-navigation-link>
				</div>
			</div>
			<div class="hidden-xs hidden-sm col-md-2">
				<h3>Fave Tunes</h3>
				<div>
					<object width="180" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong2528804824" name="gsSong2528804824"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=25288048&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="180" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=25288048&style=metal&p=0" /><span><a href="http://grooveshark.com/search/song?q=Sage%20Francis%20The%20Best%20of%20Times" title="The Best of Times by Sage Francis on Grooveshark">The Best of Times by Sage Francis on Grooveshark</a></span></object></object>					
				</div>
				<div>
					<object width="180" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong284163200" name="gsSong284163200"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=28416320&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="180" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=28416320&style=metal&p=0" /><span><a href="http://grooveshark.com/search/song?q=Jurassic%205%20Concrete%20Schoolyard" title="Concrete Schoolyard by Jurassic 5 on Grooveshark">Concrete Schoolyard by Jurassic 5 on Grooveshark</a></span></object></object>
				</div>
				<div>
					<object width="180" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong3523015886" name="gsSong3523015886"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=35230158&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="180" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=35230158&style=metal&p=0" /><span><a href="http://grooveshark.com/search/song?q=Dan%20le%20Sac%20vs.%20Scroobius%20Pip%20Get%20Better" title="Get Better by Dan le Sac vs. Scroobius Pip on Grooveshark">Get Better by Dan le Sac vs. Scroobius Pip on Grooveshark</a></span></object></object>
				</div>
			</div>
		</div>
		<div id="sub-footer" class="row-fluid">
			<div class="col-xs-12 text-center">
				All development and any other fun stuff is by me, <a href="/#/profiles/personal-profile">Will Roberts</a>.
			</div>
		</div>
	</div>
</footer>